* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

a {
    color: var(--dark);
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.admin-wrapper {
    overflow-x: hidden;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    background-color: var(--white);
    padding: 20px 15px;
    border-bottom: 1px solid #dee2e6;
    margin-left: 240px;
}

.nav.full {
    margin-left: 0;
}

.nav .navbar {
    padding: 0;
    margin: 0;
}


.nav .navbar.ml-auto {
    margin-left: auto;
}

.nav .nav-item a {
    padding: 16px;
}


.main-sidebar {
    position: fixed;
    bottom: 0;
    float: none;
    left: 0;
    top: 0;
    background-color: #343a40;

    height: 100vh;
    overflow-y: hidden;
    z-index: 1038;

    width: 240px;
    transition: all ease 0.4s;
}

.nav.full ~ .main-sidebar {
    width: 0;
}

.main-sidebar .logo {
    border-bottom: 1px solid #4b545c;
}

.main-sidebar .logo img {
    width: 50px;
    border-radius: 50%;
    opacity: 8;
    height: 50px;
}

.main-sidebar .logo a {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 1.5;
    padding: 10px;
    color: rgba(255, 255, 255, 0.8);
}

.main-sidebar .logo a span {
    margin-left: 15px;
}


.main-sidebar a {
    color: rgba(255, 255, 255, 0.8);
}

.main-sidebar .nav-item a {
    display: flex;
    align-items: center;
    padding: 10px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    cursor: pointer;
    padding-left: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.125);
}

.main-sidebar .nav-item i {
    padding: 4px 10px;
    font-size: 20px;
}

.main-sidebar .subnav .nav-item a {
    padding-left: 25px;
    font-size: 16px;
}

.main-sidebar .nav-item span {
    margin-left: 10px;
}

.main-sidebar .subnav {
    background-color: #484b4c;
    display: none;
}

.content-wrapper {
    background-color: #f4f6f9;
    transition: all ease 0.4s;
    margin-left: 240px;

}

.nav.full ~ .content-wrapper {
    margin-left: 0;
}


.nav-item .icon-open {
    margin-left: auto;
    
}


.table {
    vertical-align: middle;
}

table thead {
    background-color: var(--bs-gray-dark);
    color: var(--white);
}

.table > thead {
    vertical-align: middle;
}

.table th {
    text-align: center;
}

p {
    margin: 0;
    padding: 0;
}

.add-new-address {
    margin-top: 10px;
}

.box-add-address {
    display: none;
    margin-top: 20px;
}

.box-add-address.active {
    display: block;
    margin-top: 0;
}

.form-control.address.update + .btn-submit-update {
    display: block;
}

.btn-submit-update {
    display: none;
}

.container-order-detail {
    opacity: 0;
    visibility: hidden;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1500;
   
    transition: all ease 0.2s;
  
}

.container-order-detail.active {
    opacity: 1;
    visibility: visible;
}

.container-order-detail .order-detail-content {
    width: 700px;
    padding: 20px 10px;
    position: absolute;
    top: 10%;
    background-color: white;
    text-align: center;
   
}

.container-order-detail.active .order-detail-content {
    transition: transform ease 0.2s;
    animation: containerCartDetailShow ease 0.3s;
}

.order-detail-content .header {
    display: flex;
    justify-content: space-between;
}

@keyframes containerCartDetailShow {
    0% {
        transform: scale(0.8);
    }
    45% {
        transform: scale(1.05);
    }
    80% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.btn-close {
    cursor: pointer;
}

table td {
    text-align: center;
}

#order-detail-tbody img {
    width: 100px;
}

.alert {
    opacity: 0;
    visibility: hidden;
    padding: 0;
    margin: 0;
    transition: all ease 0.6s;
}

.alert.active {
    opacity: 1;
    visibility: visible;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.alert p {
    margin: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    height: 0;
    transition: all ease 0.55s;
}

.alert.active p {
    opacity: 1;
    visibility: visible;
    height: auto;
}

.nav-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 -1px 5px 1px rgba(0, 0, 0, 0.09);
    height: 60px;
    display: none;
}

.nav-footer .nav-list-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

.nav-footer .nav-item {
    color: var(--back);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 500;
}

.nav-footer .nav-item i {
    display: block;
    text-align: center;
    color: var(--bs-blue);
}

.order-status-3 {
    background-color: #d4edda;
}


@media (min-width: 414px) and (max-width: 767px) {

    .nav-footer {
        display: block;
    }

    .card-body {
        margin-bottom: 60px;
    }

    .card-body.cart-page {
        padding: 0;
    }

    .main-sidebar {
        display: none;
    }

    .admin-wrapper .nav {
        margin-left: 0;
        display: none;
    }

    .nav ~ .content-wrapper {
        margin-left: 0;
    }

    input {
        margin-bottom: 5px;
    }

    .btn-submit-update {
        margin-bottom: 10px;
    }

    .table {
        font-size: 14px;
    }


    .table.cart thead tr th:nth-child(1),
    .table.cart thead tr th:nth-child(3),
    .table.cart thead tr th:nth-child(4),
    .table.cart thead tr th:nth-child(5),
    .table.cart thead tr th:nth-child(9) {
        display: none;
    }

    .table.cart tbody tr td:nth-child(1),
    .table.cart tbody tr td:nth-child(3),
    .table.cart tbody tr td:nth-child(4),
    .table.cart tbody tr td:nth-child(5),
    .table.cart tbody tr td:nth-child(9) {
        display: none;
    }

    .container-order-detail .order-detail-content {
        width: 100%;
        padding: 20px 10px;
        position: absolute;
        top: 5%;
    }
    
}

@media (min-width: 320px) and (max-width: 413px) {

    .nav-footer {
        display: block;
    }

    .card-body {
        margin-bottom: 60px;
    }

    .card-body.cart-page {
        padding: 0;
    }

    .main-sidebar {
        display: none;
    }

    .admin-wrapper .nav {
        margin-left: 0;
        display: none;
    }

    .nav ~ .content-wrapper {
        margin-left: 0;
    }

    input {
        margin-bottom: 5px;
    }

    .btn-submit-update {
        margin-bottom: 10px;
    }


    .table {
        font-size: 13px;
    }


    .table.cart thead tr th:nth-child(1),
    .table.cart thead tr th:nth-child(3),
    .table.cart thead tr th:nth-child(4),
    .table.cart thead tr th:nth-child(5),
    .table.cart thead tr th:nth-child(9) {
        display: none;
    }

    .table.cart tbody tr td:nth-child(1),
    .table.cart tbody tr td:nth-child(3),
    .table.cart tbody tr td:nth-child(4),
    .table.cart tbody tr td:nth-child(5),
    .table.cart tbody tr td:nth-child(9) {
        display: none;
    }

    .container-order-detail .order-detail-content {
        width: 100%;
        padding: 20px 4px;
        position: absolute;
        top: 5%;
    }


    .order-detail-content .table thead tr th:nth-child(2) {
        display: none;
    }

    #order-detail-tbody tr td:nth-child(2) {
        display: none;
    }
}