    <%- include('../header') %>

    <div class="content-wrapper">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Đổi mật khẩu</h5>
                    </div>
                    <div class="card-body dashboard">
                        <div class="row">
                            <div class="col-xl-12 offset-xl-2">
                                <form action="" method="POST" id="form-change-password">
                                    <div class="row">
                                    
                                        <div class="col-xl-6">
                                            <label for="" class="form-label">Mật khẩu hiện tại</label>
                                            <input name="currentPassword" required type="password" class="form-control" autocomplete="on" placeholder="Mật khẩu hiện tại">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <label for="" class="form-label">Mật khẩu mới</label>
                                            <input name="newPassword" required type="password" class="form-control" autocomplete="on" placeholder="Mật khẩu mới">
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-xl-6">
                                            <label for="" class="form-label">Nhập lại mật khẩu mới</label>
                                            <input name="confirmPassword" required type="password" class="form-control" autocomplete="on" placeholder="Nhập lại mật khẩu mới">
                                        </div>
                                    </div>
                                    <input type="hidden" name="emailAdministrator" value="">
                                    <input type="hidden" name="csrf-token" value="<%= csrfToken %>">
                                    <button type="submit" class="btn btn-danger" name="submit-form-change-password">Đổi mật khẩu</button>  
                                </form>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Close admin-wrapper -->
</div>

<script>
    const formChangePassword = document.getElementById('form-change-password') 

    formChangePassword.addEventListener('submit', function(e) {
        e.preventDefault()

        const currentPassword   = formChangePassword.querySelector('input[name="currentPassword"]').value
        const newPassword       = formChangePassword.querySelector('input[name="newPassword"]').value
        const confirmPassword   = formChangePassword.querySelector('input[name="confirmPassword"]').value
        const email             = formChangePassword.querySelector('input[name="emailAdministrator"]').value
        const csrfToken         = formChangePassword.querySelector('input[name="csrf-token"]').value
       
        if (newPassword === confirmPassword) {
            handleChangePassword({
                currentPassword,
                newPassword, 
                email,
                csrfToken
            })
        } else {
            alert('Mật khẩu không khớp!')
        }
        
    })

    function handleChangePassword({csrfToken, currentPassword, newPassword}) {
        $.ajax({
            url: `/api/v1/user/change-password`,
            type: 'put',
            headers: {
                'CSRF-Token': csrfToken 
            },
            data: {
                currentPassword,
                newPassword
            },
            dataType: 'json',
            success: function(result) {
                console.log(result)
                if (result.status == 'success') {
                    alert(`Đổi mật khẩu thành công!`)

                    location.href = '/auth/logout'
                    
                } 
                else {
                    alert(`Thất bại! ${result.message || ''}`)
                }

            },
            error: function(XHR, textStatus, errorThrown){
                console.log(XHR)
                if (XHR.status == 403) {
                    alert('Bạn không có quyền thực hiện hành động này!')
                }
            }
        })
    }

</script>

</body>
</html>