<%- include('../header') %>
    
    <style>

        .form {
            display: none;
        }

        .form.active {
            display: block;
        }
      
    </style>

    <div class="content-wrapper">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Bài viết sản phẩm</h5>
                        </p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-3">
                                <label for="" class="form-label">Mã sản phẩm</label>
                                <input name="input-product-id" required type="text" class="form-control" placeholder="Nhập mã sản phẩm">
                            </div>
                            <div class="col-xl-6">
                                <label for="" class="form-label">Sản phẩm</label>
                                <input disabled id="product-loaded" class="form-control" placeholder="Sản phẩm">
                            </div>
                           
                        </div>
                        

                        <form action="review/update" method="POST" class="form form-update-review row mt-4">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="hidden" name="productId">
                            <div class="col-xl-12">
                                <label for="" class="form-label">Bài viết</label>
                                <textarea name="content" id="review-update"></textarea>
                            </div>
                            <div class="col-xl-4">
                                <button type="submit" class="btn btn-submit-update btn-success mt-3">Cập nhật</button>
                            </div>
                        </form>

                        <form action="review/add" method="POST" class="form form-add-review row mt-4">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="hidden" name="productId">
                            <div class="col-xl-12">
                                <label for="review-add" class="form-label">Bài viết</label>
                                <textarea name="content" id="review-add"></textarea>
                            </div>
                            <div class="col-xl-4">
                                <button type="submit" class="btn btn-submit-update btn-success mt-3">Thêm</button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Close admin-wrapper -->
</div>

<script src="https://cdn.ckeditor.com/ckeditor5/33.0.0/classic/ckeditor.js"></script>
<script>
    
    ClassicEditor
        .create( document.querySelector('#review-add'), {
                heading: {
                    options: [
                        { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                        { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                        { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                        { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                        { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                        { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                        { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
                    ]
                    }
            })
        .catch( error => {
            console.error( error );
    } )
</script>


<script>

    const formUpdate = document.querySelector('.form-update-review')
    const formAdd = document.querySelector('.form-add-review')

    const inputProductIdElement = document.querySelector('input[name="input-product-id"]')
    const productLoaded = document.getElementById('product-loaded')

    const productIdElements = document.querySelectorAll('input[name="productId"]')


    inputProductIdElement.addEventListener('blur', function() {
        if (this.value) {
            loadProduct(this.value)
        } else {
            formUpdate.classList.remove('active')
            formAdd.classList.remove('active')
        }
    })

    function loadProduct(productId) {
        $.ajax({
            url: `/api/v1/product/${productId}`,
            type: 'get',
            dataType: 'json',
            success: function(result) {
                console.log(result)
                formUpdate.classList.remove('active')
                formAdd.classList.remove('active')
                if (result.status == 'success') {
                    const { product } = result

                    productLoaded.value = product.name
                    productIdElements.forEach((element) => {
                        element.value = product.product_id
                    })

                    loadReviewProduct(productId)
                   
                } else {
                    productLoaded.value = result.message
                }
            }
        })
    }

    function loadReviewProduct(productId) {
        $.ajax({
            url: `/api/v1/product/${productId}/review`,
            type: 'get',
            dataType: 'json',
            success: function(result) {
                console.log(result)
                
                if (result.status == 'success') {
                    const { dataProductReview } = result

                    if (dataProductReview) {
                        formUpdate.classList.add('active')
                        const { content } = dataProductReview
                        document.getElementById('review-update').textContent = content
                        ClassicEditor
                            .create( document.querySelector('#review-update'), {
                                    heading: {
                                        options: [
                                            { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                                            { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                                            { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                                            { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                                            { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                                            { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                                            { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
                                        ]
                                        }
                                })
                            .catch( error => {
                                console.error( error );
                        } )

                    } else {
                        formAdd.classList.add('active')
                    }
                } 
            }
        })
    }

</script>


</body>
</html>