<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>

    <%- include('../partials/header') %>

   
    <div class="main">
        <div class="auth">
            <div class="container">
                <h1 class="auth-heading">Đăng nhập</h1>
                <div class="login">
                    <form id="form-login" action="" method="POST">
                        <p class="message-request">Đăng nhập vào tài khoản!</p>
                        <div class="form-group">
                            <div class="wrapper-input">
                                <label for="input-email" class="auth-icons fas fa-envelope"></label>
                                <input required name="email" id="input-email" type="email" class="form-control" placeholder="Email">
                            </div>
                            <span class="form-message"></span>
                        </div>
                        <div class="form-group" id="form-group-password">
                            <div class="wrapper-input">
                                <label for="input-password" class="auth-icons fas fa-lock"></label>
                                <input required name="password" id="input-password" type="password" class="form-control" placeholder="Mật khẩu" autocomplete="on">
                            </div>
                            <span class="form-message"></span>
                        </div> 
                        <a href="/auth/reset-password" class="forgot-password">Quên mật khẩu?</a>
                        <button class="btn btn-submit" type="submit">Đăng nhập</button>
                        <div class="loading">
                            <img src="/image/loading-2.gif" alt="">
                        </div>
                    </form>
                    <div class="action">
                        <span>Bạn chưa có tài khoản? </span><a class="link-register" href="/auth/register">Đăng ký tại đây</a>
                    </div>
                </div>
        </div>
    </div>
    <%- include('../partials/footer') %>
    <script type="module">
        import { isEmail, isValidName, removeDuplicateSpaceAndTrim, handleUpperCaseFirstLetter } from '/js/validate.js';

        const formLoginElement = document.getElementById('form-login')
        const loadingElement = document.querySelector('.auth .loading')
        const emailInputElement = document.getElementById('input-email')
        const passwordInputElement = document.getElementById('input-password')
        const confirmasswordInputElement = document.getElementById('input-confirm-password')

        
        function validateIsEmail(selector) {
            const emailInputElement = document.getElementById(selector)
            const email = emailInputElement.value

            let formGroupEmail = emailInputElement.parentElement.parentElement
            let messageElement = formGroupEmail.querySelector('.form-message')
            if (!isEmail(email)) {
                formGroupEmail.classList.add('error')
                messageElement.innerText = 'Email không hợp lệ!'
                return false
            } else {
                formGroupEmail.classList.remove('error')
                messageElement.innerText = ''
                return true
            }
        }

        emailInputElement.addEventListener('blur', function() {
            validateIsEmail('input-email')
        })

        
        formLoginElement.addEventListener('submit', function(e) {
            e.preventDefault()
            loadingElement.classList.add('show')

            const email = emailInputElement.value
            const password = passwordInputElement.value

            const isValidEmail = validateIsEmail('input-email')

            if (isValidEmail) {
                handleCallApiLogin({
                    email, 
                    password
                });
            } 
        })

        function handleCallApiLogin({email, password}) {
            $.ajax({
                url: '/api/v1/auth/login',
                type: 'post',
                data: {
                    email,
                    password
                },
                dataType: 'json',
                success: function(result) {
                    loadingElement.classList.remove('show')

                    console.log(result)
                    if (result.status == 'success') {
                        showToast({
                            type: 'success',
                            title: 'Thành công!',
                            desc: result.message || 'Đăng nhập thành công!'
                        })
                        setTimeout(() => {
                            location.href = '/'
                        }, 2000)
                    } else {
                        showToast({
                            type: 'error',
                            title: 'Thất bại!',
                            desc: result.message || 'Đăng nhập thất bại!'
                        })
                    }
                }
            })
        }
    </script>
</body>
</html>

